body{
    background-color: Gainsboro;
  }

  .navbar{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    width: 250px;
    box-shadow: 0 5px 15px Lightblue;
    background-color: rgba(255 255 255 0.2);
    backdrop-filter: blur(10px);
    padding-left: 20px;
    padding-top: 60px;
  }

  .navbar a{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 15px;
    transition-delay: 0.4s;
  }

  .navbar div a:hover{
    color: none;
    border-style: none;

  }


  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 5px 15px Lightblue;
    padding: 20px 40px;
  }

  a img{
    width: 80px;
    height: 40px;
  }

  div nav a {
    margin-right: 20px;
    color: black;
    text-decoration: none;
  }

  svg{
    display: none;
    margin-top: 3px;
  }

  #hov:hover{
    border: 0px;
    /*position: fixed;
    cursor: pointer;*/
  }

  div nav a:hover{
    color: green;
    border: 3px dashed green;
    padding: 5px 10px;
  }

  .heading{
    background-color: #dc6f10a9;
    height: 90px;
  }

  .head{
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 20%;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 300;
  }

  .services{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .box{
    background-color: white;
    width: 350px;
    height: 400px;
    margin-left: 100px;
    margin-top: 50px;
  }

  .circle{
    border-radius: 50%;
    background-color: Gainsboro;
    width: 250px;
    height: 250px;
    position: relative;
    top: 10%;
    left: 14.5%;
  }

  .order{
    background-color: #F28B30;
    border-radius: 20px;
    text-align: center;
    color: white;
    line-height: 1.8em;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 90px;
    left: 16%;
    visibility: hidden;
  }

  .circle:hover .order{
    visibility: visible;
    cursor: pointer;
  }

  .circlex{
    border-radius: 50%;
    background-color: Gainsboro;
    width: 250px;
    height: 250px;
    position: relative;
    top: 10%;
    left: 14.5%;
  }

  .circlex:hover .order{
    visibility: visible;
    cursor: pointer;
  }

  .circlex:hover{
    border-radius: 10%;
    transition: ease-out 1s;
  }

  .image{
    width: 190px;
    height: 190px;
    position: relative;
    top: 15%;
    left: 16%;
  }

  #image2{
    position: relative;
    top: 19%;
    left: 12%;
    width: 180px;
    height: 140px;
  }

  #image3{
    width: 190px;
    height: 190px;
    position: relative;
    top: 10%;
    left: 13%;
  }

  #image4{
    width: 250px;
    height: 250px;
    position: relative;
    top: 1%;
    left: 1%;
  }

  .imagex{
    width: 128px;
    height: 180px;
    position: relative;
    top: 15%;
    left: 23%;
  }

  #imagey{
    width: 125px;
    height: 130px;
    position: relative;
    top: 23%;
    left: 23%;
  }

  #imagez{
    width: 190px;
    height: 190px;
    position: relative;
    top: 12%;
    left: 12%;
  }

  .img{
    width: 210px;
    height: 280px;
    border-radius: 10px;
    border: 15px solid #575558;
    margin-left: 55px;
    margin-top: 45px;
    box-shadow: -10px -10px 20px #bebebe;

  }

  .img2{
    width: 250px;
    height: 150px;
    margin-left: 53px;
    margin-top: 120px;
  }

  .star{
    position: relative;
    top: 47px;
    left: 32px;
    font-size: 10px;
  }

  .checked{
    color: #F28B30;
  }

  .text{
    font-size: 25px;
    position: relative;
    top: 25px;
    left: 30px;
  }

  .price{
    color: #F24405;
    font-size: 15px;
    padding-left: 30px;
  }

  .footer{
    display: block;
    position: scroll;
    margin-left: 30px;
    margin-right: 30px;
    height: 350px;
    background-color:  #424242;
  }

  .footer a{
    text-decoration: none;
    color: #d7dbdd;
  }

  .col{
    display:inline-flex;;
    padding-top: 5px;
    margin-left: 40px;
  }


  #AC{
    padding-top: 100px;
    padding-left: 13px;
    color: white;
  }

  .c{
    padding-top: 30px;
    color: white;
    font-size: 20px;
    padding-left: 500px;
  }

  .a{
    padding-top: 10px;
    color: #d7dbdd;
    font-size: 13px;
    padding-left: 500px;
  }

  .s{
    padding-top: 30px;
    color: white;
    font-size: 20px;
    padding-left: 70px;

  }

  .sd{
    padding-top: 10px;
    color: #d7dbdd;
    font-size: 13px;
    padding-left: 70px;
  }

  .p{
    padding-top: 30px;
    color: white;
    font-size: 20px;
    padding-left: 70px;

  }

  .pd{
    padding-top: 10px;
    color: #d7dbdd;
    font-size: 13px;
    padding-left: 70px;
  }

  #foot{
    display: inline-flex;;
    padding-top: 5px;
    margin-left: 40px;
    color: white;
  }

  #copyright{
    margin-left: 10px;
  }

  .ptc{
    margin-top: 10px;
    margin-left: 1000px;
  }

  .ptc a:hover{
    color: green;
  }

  .col ul a li:hover{
    color: green;
  }

  #tc{
    margin-left: 30px;
  }

  @media screen and (max-width: 1400px) {
    .c{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 400px;
    }

    .a{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 400px;
    }

    .s{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 50px;

    }

    .sd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 50px;
    }

    .p{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 50px;

    }

    .pd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 50px;
    }

    .ptc{
      margin-top: 10px;
      margin-left: 800px;
    }
  }

  @media screen and (max-width: 811px){
    .box{
      margin-left: 40px;
    }
  }

  @media screen and (max-width: 511px){
    .head{
      font-size: 30px;
      position: relative;
      top: 25%;
    }

    .box{
      margin-left: 20px;
    }
  }

  @media screen and (max-width: 401px){
    .head{
      font-size: 25px;
      position: relative;
      top: 30%;
    }

    .box{
      margin-left: 5px;
    }
  }

  @media screen and (max-width: 1220px) {
    .c{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 250px;
    }

    .a{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 250px;
    }

    .s{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 35px;

    }

    .sd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 35px;
    }

    .p{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 35px;

    }

    .pd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 35px;
    }

    .ptc{
      margin-top: 10px;
      margin-left: 600px;
    }
  }

  @media screen and (max-width: 1046px) {
    .c{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 150px;
    }

    .a{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 150px;
    }

    .s{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 25px;

    }

    .sd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 25px;
    }

    .p{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 25px;

    }

    .pd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 25px;
    }

    .ptc{
      margin-top: 10px;
      margin-left: 550px;
    }
  }

  @media screen and (max-width: 950px) {
    .c{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 100px;
    }

    .a{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 100px;
    }

    .s{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 20px;

    }

    .sd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 20px;
    }

    .p{
      padding-top: 30px;
      color: white;
      font-size: 20px;
      padding-left: 20px;

    }

    .pd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 13px;
      padding-left: 20px;
    }

    .ptc{
      margin-top: 10px;
      margin-left: 400px;
    }
  }

  @media screen and (max-width: 820px) {
    .hero{
      padding-left: 70px;
    }

    .footer{
        height: 350px;
    }

    .i{
      width: "40px";
      height: "20px";
    }

    .im{
      width: "50px";
      height: "10px";
      padding-bottom: 5px;
    }

    .mi{
      width: 40px;
      height:20px;
    }

    .gi{
      width: 20px;
      height: 10px;
    }

    .c{
      padding-top: 30px;
      color: white;
      font-size: 15px;
      padding-left: 70px;
    }

    .a{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 9px;
      padding-left: 70px;
    }

    .s{
      padding-top: 30px;
      color: white;
      font-size: 15px;
      padding-left: 15px;

    }

    .sd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 9px;
      padding-left: 15px;
    }

    .p{
      padding-top: 30px;
      color: white;
      font-size: 15px;
      padding-left: 15px;

    }

    .pd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 9px;
      padding-left: 15px;
    }

    .ptc{
      margin-top: 10px;
      margin-left: 350px;
    }
  }

  @media screen and (max-width: 756px) {

    svg{
      display: flex;
    }

    .hideonmobile{
      display: none;
    }


    .hero{
      padding-left: 70px;
    }

    .footer{
        height: 370px;
    }

    .i{
      width: "30px";
      height: "10px";
    }

    .im{
      width: "40px";
      height: "5px";
      padding-bottom: 5px;
    }

    .mi{
      width: 30px;
      height:10px;
    }

    .gi{
      width: 10px;
      height: 5px;
    }

    .c{
      padding-top: 30px;
      color: white;
      font-size: 10px;
      padding-left: 50px;
    }

    .a{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 7px;
      padding-left: 50px;
    }

    .s{
      padding-top: 30px;
      color: white;
      font-size: 10px;
      padding-left: 10px;

    }

    .sd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 7px;
      padding-left: 10px;
    }

    .p{
      padding-top: 30px;
      color: white;
      font-size: 10px;
      padding-left: 10px;

    }

    .pd{
      padding-top: 10px;
      color: #d7dbdd;
      font-size: 7px;
      padding-left: 10px;
    }

    .ptc{
      margin-top: 10px;
      margin-left: 230px;
    }
  }

  @media screen and (max-width: 500px) {

    svg{
      display: flex;
    }

    .hideonmobile{
      display: none;
    }

    .footer {
           padding: 10px;
           text-align: center;
           overflow: auto;
       }

       .footer .col {
           padding-top: 0;
           top: 0;
           margin-top: 0;
           margin-left: 0px;
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-bottom: 15px;
       }

       #AC{
         padding-top: 10px;
         padding-left: 5px;
       }

       .footer .col > div {
           margin-bottom: 20px;
       }

       .c{
         font-size: 20px;
         padding-left: 10px;
       }

       .a{
         font-size: 13px;
         padding-left: 1px;
       }

       .s{
         font-size: 20px;
       }

       .sd{
         font-size: 13px;
       }

       .p{
         font-size: 20px;
       }

       .pd{
         font-size: 13px;
       }

       .ptc{
    margin-top: 10px;
    margin-left: 20px;
  }

  #foot{
    display: inline-flex;;
    padding-top: 5px;
    margin-left: 5px;
    color: white;
  }

  #copyright{
    margin-left: 1px;
  }

  }

  @media screen and (max-width: 400px) {

    svg{
      display: flex;
    }

    .hideonmobile{
      display: none;
    }


    .footer {
           padding: 10px;
           text-align: center;
           overflow: auto;
       }

       .footer .col {
           padding-top: 0;
           top: 0;
           margin-top: 0;
           margin-left: 0px;
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-bottom: 15px;
       }

       #AC{
         padding-top: 10px;
         padding-left: 5px;
       }

       .footer .col > div {
           margin-bottom: 20px;
       }

       .c{
         font-size: 20px;
         padding-left: 10px;
       }

       .a{
         font-size: 13px;
         padding-left: 1px;
       }

       .s{
         font-size: 20px;
       }

       .sd{
         font-size: 13px;
       }

       .p{
         font-size: 20px;
       }

       .pd{
         font-size: 13px;
       }

       .ptc{
    margin-top: 6px;
    margin-left: 20px;
  }

  #foot{
    display: inline-flex;;
    padding-top: 5px;
    margin-left: 1px;
    color: white;
    font-size: 10px;
  }

  #copyright{
    margin-left: 1px;
  }

  }
